body{
  margin: 0;
  height: 100vh;

  @media (max-width: 960px) {
    background-color: $maincolor;
  }
}

//Additional CSS Classes
.nodisplay {
  display: none !important;
}
.hyperlink {
  text-decoration: none;
  font-weight: 700;
  color: $addcolor;
}
.error {
  background-color: rgba(223, 40, 0, 0.3);
}

.w-100 {
  width: 100% !important;
}