@mixin display-grid {
  display: grid;
  grid-template-columns: 70px 20px 70px auto 43px auto 50px;
  justify-items: center;
  align-items: center;
}

.help {
  position: absolute;
  z-index: 20;
  min-height: 100%;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  border: 10px solid $addcolor;
  padding: 20px;
  color: $addcolor;
  p {
    text-align: center;
  }
  svg {
    display: block;
    margin: 0 auto;
  }
  #closebtn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.container {
  position: relative;
  padding: 20px;
  border: 6px solid $maincolor;
  min-height: calc(100% - 60px);
  box-sizing: border-box;
  background: white;

  @media (min-width: 960px) {
    padding: 75px;
    margin: 0 auto;
    height: auto;
    display: table;
    width: 650px;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 8px;
  }
}

.fatline {
  width: 100%;
  height: 3px;
  background-color: $maincolor;
  margin-bottom: 15px;
}

.listwrapper {
  .height {
    grid-column: 1 / 2;
  }
  .cross {
    grid-column: 2 / 3;
  }
  .width {
    grid-column: 3 / 4;
  }
  .quantity {
    grid-column: 5 / 6;
  }
  .addbtn {
    grid-column: 7 / 8;
  }
}

.description {
  @include display-grid;
  margin-bottom: 5px;
  a {
    font-weight: $font-bold;
    font-size: 15px;
  }
}

.element {
  @include display-grid;
  border-top: 1px solid $addcolor;
  padding: 12px 0;
  input {
    width: 50px;
    height: 20px;
    -webkit-appearance: none;
    border: 1px solid $addcolor;
    text-align: center;
  }
  button {
    background-color: $maincolor;
    border: 1px solid $addcolor;
    height: 24px;
    font-weight: $font-bold;
    text-align: center;
    color: white;
  }
  .erase {
    background-color: #df2800;
    border: 1px solid #C42717;
  }
  .quantity {
    width: 35px;
  }
  &:nth-child(2) {
    border-top: 3px solid #111;
  }
  .errorborder {
    border: 1px solid #C42717;
  }
}

.summary {
  font-weight: $font-bold;
  display: flex;
  flex-direction: row-reverse;

  .price {
    display: inline-block;
    padding-left: 10px;
    font-size: 30px;
    text-align: right;
  }
}
.desktop-footer {
  display: none;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 80px;
  color: $addcolor;
  font-size: 10px;
  text-align: center;

  @media (min-width: 960px) {
    display: flex;
  }
  a {
    padding-right: 10px;
  }
}

.order {
  display: none;
  width: 160px;
  padding: 15px;
  background-color: $orderbtncolor;
  text-align: center;
  border: none;
  color: white;
  font-weight: $font-bold;
  font-size: 17px;
  transform: translate(0, 0);

  @media (min-width: 960px) {
    display: block;
  }

  span {
    display: inline-block;
    min-width: 0.3em;
    text-transform: uppercase;
    transition: .25s cubic-bezier(0.5, -1, 0.5, 2);
    opacity: 0;
    transform: translate(0, -20px);
  }

  &:before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    left: 0;
    transition: .25s cubic-bezier(0.5, -1, 0.5, 2);
    text-transform: uppercase;
    opacity: 1;
    transform: translate(0, 0px);
  }

  &:hover {
    &:before {
      opacity: 0;
      transform: translate(0, 20px);
    }
    span {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

.order-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10%;
  background: white;
  display: flex;
  flex-direction: column;
  z-index: 1;

  & > input, textarea {
    margin-bottom: 10px;
    padding: 10px 5px;
    border: 1px solid $addcolor;
    font-size: 15px;
  }

  & > .comment {
    height: 30vh;
  }

  & > button {
    outline: none;
    background: none;
    padding: 10px 5px;
    border: none;
    margin-bottom: 5px;
  }
}
  
.footer {
  color: $addcolor;
  font-size: 10px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;

  @media (min-width: 960px) {
    // display: none;
  }
}