.footmenu {
  display: flex;
  width: 100%;
  height: 8vh;

  .exit {
    display: inline;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $maincolor;
    text-align: center;
    border: none;
    color: white;
    font-weight: $font-bold;
    font-size: 17px;
  }

  .order {
    display: inline;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $orderbtncolor;
    text-align: center;
    border: none;
    color: white;
    font-weight: $font-bold;
    font-size: 17px;
  }
}